/*Main Rulez*/
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    color: rgb(240, 240, 240);
    font-family:sans-serif;
    overflow-x: hidden;
}

a{
    color:inherit;
    text-decoration: none;
}

p{
    color:rgb(172, 172, 172);
}    

h2{
    margin: 1rem;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
}

.capital{
    text-transform: capitalize;
}

.flex-row{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

/*background*/
.bg{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-image: url('../assests/images/bg.jpg');
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    z-index: -10;
}

.overlay{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: #000000c0;
    z-index: -9;
}

/*navigation*/
.top .container{
    padding-top: 1rem;
}

.logo{
    font-size: 31px;
    width: 20px;
    line-height: .8;
    font-weight: 900;
}


/*nav bullets*/
.nav-bullets{
	position:fixed;
	right:0;
	top:50%;
	margin-right:5px;
    transform:translatey(-50%);
    -ms-transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
	z-index:1000;
	color:#000;
    font-weight:bold;
    font-size: 10px;
}

.nav-bullets .bullets{
	width:20px;
	height:20px;
	border-radius:50%;
	border:3px solid rgb(240, 240, 240);
	margin:10px auto;
	position:relative;
	cursor:pointer;
}

.nav-bullets .bullets .tooltip {
	position: absolute;
	left: -150px;
	top:-3px;
	background-color: rgb(240, 240, 240);
	padding: 1px 5px;
	font-size: 12px;
	border-radius: 3px;
	width: 134px;
    height:24px;
    display: none;
	cursor:default;
}

.nav-bullets .bullets .tooltip::before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: 50%;
    border-color: transparent transparent transparent rgb(240, 240, 240);
    right: -20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.nav-bullets .bullets:hover{
	background-color:rgb(240, 240, 240);
}

.nav-bullets .bullets:hover .tooltip {
	display:flex;
	justify-content:center;
	align-items:center;
}

/*landing section*/
.landing{
    width:100vw;
    height: 100vh;
    position: relative;
}

.landing .welcome-text{
    margin-top: 10rem;
    border-left: 2px solid #00ad09;
    padding-left: 1rem;
    font-size: 1.5rem;
    width:75%;
    padding:1rem;
    transition: all ease-in-out 1s;
}

.landing .welcome-text h1{
    padding-bottom: .75rem;
}

.landing .arrow{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing .arrow img{
    width:30px;
    cursor: pointer;
    animation: arrow 1.25s ease-in-out infinite;
}



main{
    background-color: rgba(0, 0, 0, 0.774);
    width:100%;
    font-size: 1.5rem;
    padding: 1rem 0;
}

section{
    padding: 4rem  0;
}

section:first-of-type{
    padding-top: 2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who img{
    width:80px;
}

.who .youtube{
    width:100%;
    cursor: pointer;
}


section p{
    padding-bottom: 1rem;
    text-align: justify;
}

.vision{
    padding: 1rem;
}

.train table{
    width: 100%;
    font-size: 12pt;
    text-align: left;
    background-color: rgba(12, 12, 12, 0.767);
    margin-top: 2rem;
}

.train th{
    background-color: #cccccc;
    padding: .75rem;
    color: rgb(36, 36, 36);
}

.train td{
    background-color: rgb(19, 19, 19);
    padding: .75rem;
    color:rgb(172, 172, 172);
}

/*footer*/
footer{
    background-color: rgb(8, 8, 8);
    padding: .5rem 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    display: flex;
    list-style: none;
}

footer img{
    height:30px;
    padding: 0 .25rem;
    transition: all ease-in-out .05s;
    -webkit-transition: all ease-in-out .05s;
    -moz-transition: all ease-in-out .05s;
    -o-transition: all ease-in-out .05s;
}

footer img:hover{
    transform:scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

/*Loading*/
.load-overlay{
    position: fixed;
    z-index: 1000;
    width:100vw;
    height:100vh;
    background-color: #020202;
    transition: all ease-in-out 1.5s;
    display: none;
}

.loading{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;
}

.loading .load{
    position: absolute;
    border:2px solid #f1f1f138;
    border-radius: 50%;
}

.loading .load1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    animation: spin linear 2s infinite;
}

.loading .load2{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    animation: spin linear 2s reverse infinite;
}

.loading .load3{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    animation: spin linear 2s infinite;
}



@keyframes spin{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

/*animations*/
@keyframes arrow{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50%{
        transform: translateY(1rem);
        -webkit-transform: translateY(1rem);
        -moz-transform: translateY(1rem);
        -ms-transform: translateY(1rem);
        -o-transform: translateY(1rem);
    }
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}


@media (max-width:600px){
    .landing h1{
        font-size: 2.2rem;
    }
    
    main, p{
        font-size: 1rem;
    }

    section{
        padding: 2rem 0;
    }

    .train table{
        font-size: 10pt;
    }

    footer{
        font-size: .7rem;
    }

    footer img{
        height: 25px;
    }
}

@media (max-width:400px){
	.top .flex-row{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.top .logo{
		width: auto;
		margin-bottom: 1rem;
		
	}
		
}
	